#navbar{
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow: hidden; /*taşmayı engeller*/
    height: 80px;
}
#Home2 .items{
    flex-direction: column;
}
#Home2 .items .item{
    width: 100%;
}
.courses .course{
    flex-direction: column;
}